/* WARNING
if you didn't already read readme.md, this code is horrific. please shield your eyes
*/

body {
    font-family: "Roboto";
}

button {
    font-family: "Roboto";
}

#copyrightInfo {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#copyright {
    position: absolute;
    left: 5px;
    bottom: 0px;
    font-size: 25px;
    font-weight: 700;
}

.delBtnContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#deleteFirst {
    background-color: hsl(0, 100%, 45%);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1275px;
    font-size: 125px;
    border: 10px solid #000;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 250ms 50ms;
}

#deleteFirst:hover, #DELETEEVERYTHING:hover {
    background-color: hsl(0, 100%, 35%);
}

#delPopUpBG {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    display: none;
}

.delPopUp {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    background-color: #000;
    color: #fff;
    border: 5px solid #fff;
    border-radius: 5px;
    padding: 10px;
    padding-top: 12px;
    font-weight: 700;
    font-size: 30px;
    animation: zoomIn 250ms;
}

.popTitle {
    text-align: center;
    font-size: 40px !important;
}

hr {
    border: 2px solid #fff;
}

/* #thingsToDelete {
    float: right;
    height: 35px;
    margin-top: 0px;
    font-family: "Roboto";
    font-size: 25px;
    background-color: #000;
    color: #fff;
    border: 3px solid #fff;
    font-weight: 700;
} */

#thingsToDelete {
    float: right;
    border: 3px solid #fff;
    text-align: left;
    font-size: 25px;
    width: 260px;
    height: 35px;
    line-height: 35px;
    padding: 0px 5px;
    cursor: pointer;
    transition: background-color 100ms;
}

#thingsToDelete:hover, #ttdDropdown div:hover, #whereToDelete:hover, #wtdDropdown div:hover {
    background-color: hsl(0, 0%, 10%);
}

#ttdMainText, #wtdMainText {
    display: inline;
}

.v {
    float: right;
    font-size: 15px;
    margin-left: 10px;
    transform: scaleX(1.2);
    font-weight: 400;
}

#ttdDropdown, #wtdDropdown {
    position: absolute;
    right: 10px;
}

#ttdDropdown div, #wtdDropdown div {
    background-color: #000;
    border: 3px solid #fff;
    width: 260px;
    padding: 0px 5px;
    transition: background-color 100ms;
}

#nonPersonalDiv {
    border-top: none !important;
    border-bottom: none !important;
}

#whereToDelete {
    margin-top: -35px;
    float: right;
    border: 3px solid #fff;
    text-align: left;
    font-size: 25px;
    width: 260px;
    height: 35px;
    line-height: 35px;
    padding: 0px 5px;
    cursor: pointer;
    transition: background-color 100ms;
}

.wtdOuterText {
    display: block;
    margin-top: 20px;
}

#DELETEEVERYTHING {
    background-color: hsl(0, 100%, 45%);
    display: block;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    font-size: 42px;
    border: 3px solid #fff;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 250ms 50ms;
}

#secondPart, #thirdPart {
    display: none;
    font-weight: 700;
}

#loadingDiv, #boomDiv {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    text-align: center;
}

#boomDiv {
    font-size: 35px;
}

#deletingEverything {
    font-size: 45px;
}

.procentageContainer {
    margin-top: 10px;
    margin-right: 45px;
}

#progressBar {
    border: 5px solid #000;
    width: 500px;
    height: 25px;
    display: inline-block
}

#progressFull {
    background-color: rgb(0, 255, 0);
    height: 100%;
    width: 0%;
}

#percentage {
    display: inline-block;
    font-size: 30px;
    margin-left: 10px;
    position: absolute;
    /* bottom: 3px; */
}

#progressDesc {
    display: block;
    margin-top: 15px;
    font-size: 20px;
}

#explosion {
    width: 100%;
    height: 950px;
    display: none;
}

@keyframes zoomIn {
    from {
        transform: scale(0) translate(-50%, -50%);
        transform-origin: top left;
    }

    to {
        transform: scale(1) translate(-50%, -50%);
        transform-origin: top left;
    }
}